extends tpl-layout
include tpl-tracking

block vars
	- var title = "How to Know Your Kids’ Internet Activity and Protect them from Online Dangers"
	- var linkto = "https://www.netnanny.com/family-pass-trial"
	- var path ="../"

block content
	p For parents who want to keep an eye on their children’s Internet activity and shield them from online dangers - there’s good news. #[a( href=linkto ) Net Nanny], the #1 parental control software for more than 18 years, recently launched its #[a( href=linkto ) #[b  #[em Family Protection Pass ]]] - which blocks bad content such as pornography, and prevents harmful behavior including too much screen time, predators and cyberbullying. It works on PCs, Macs, iOS and Android devices.

	h2 How does it work?
	p #[a( href=linkto ) Net Nanny], employing its unique and powerful smart filter, lets you remotely view your child’s Internet browsing activity and - depending on how you customize settings in 18 different categories – filter and block websites and apps that have inappropriate and dangerous content on them.   And with #[a( href=linkto ) #[b  #[em Net Nanny Social]]], you can also monitor the social networks your kids use, regardless of the child’s device or Internet access point (3G/4G, Wi-Fi, home network, or hotspot). Net Nanny Social monitors a child's friends, pictures, and posts on Facebook, Twitter, Instagram, Pinterest, Tumblr, Google+ and LinkedIn.

	h2 Why is this important?

	p Smartphones are now an integral part of our children’s lives.  A recent study from Common Sense Media says that American teenagers spend nine hours a day online. Yet unrestricted internet access is dangerous for children.  Another study states that 8 out of 10 children will inadvertently see pornography before the age of 11.  Other research reveals that 70% of children purposefully hide their internet activity from their parents.

	p From inadvertent or purposeful viewing of pornography, to attacks from online predators to classmate #[a( href=linkto ) cyberbullying], or simply too much screen time, kids have never been more vulnerable to negative, potentially life altering experiences, which can hurt the child’s social and intellectual development.

	p Parents must be more vigilant than ever.  Net Nanny provides them with the necessary tools to take control and ensure online safety.

	h2 When Filtering, Net Nanny reads the book, not just the cover.

	p There is good reason why Net Nanny has been awarded PC Magazine’s Best Parenting Software accolade five times. While almost all other filters simply block complete websites by keeping a domain name blacklist, Net Nanny’s #[a( href=linkto ) #[b Smart Filter]] actually analyzes the content of webpages in real time. This means it can catch and block inappropriate content inside normally acceptable sites like The New York Times or YouTube. It also prevents dangerous content from appearing in search results, apps and many other places that other filters would miss.

	p Parents can set filtering levels across 18 content categories and be confident that their child will be protected from exposure.

	h2 Healthy Screen Time Rules

	p Furthermore, screen-time rules can be set to ensure that children can focus on what’s important. For example, no social media during school hours or no internet at all during sleeping hours.

	p Experts agree that this kind of parenting strategy is vital. According to a recent study conducted by the American Association of Pediatrics, parental management of media has many positive effects:

		ul
			li Less screen time
			li Increased sleep
			li Better performance in school
			li Enhanced prosocial behaviorA
			li Lower aggressive behavior

block callout
	img( src="../img/callout.png").callout-image

block footer
	p So no matter what age your child using the Internet or a smartphone is, consider how you might keep them protected from the dangers that being online can bring.  Net Nanny, with its powerful management tools and Smart Filtering,  is a pioneer and the #[a( href=linkto ) #[b most trusted]] online parental control software available. No matter the kind or number of computers and devices in your home, it may be right for you and your family.
	hr
	div.text-center
		a( href=linkto ).btn.btn-primary.btn-lg Get Net Nanny #[sup &reg;]
		br
		br